<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @state.name %>
</p>

<h4>List of Cities</h4>

<% if @state.cities.any? %>
  <ul>
    <% @state.cities.each do |city| %>
      <li><%= city.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no cities in this state.</p>
<% end %>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
